<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.napoleonit.petproject">


    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false"
    />

    <uses-feature android:name="android.software.leanback"
                  android:required="false"/>


    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:name=".base.BaseApplication"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:banner="@drawable/lab_puppy_hero"
                 android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
                android:name=".root.RootActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

            <intent-filter>

                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>

            </intent-filter>

        </activity>


    </application>
</manifest>
